
<header>
  <div class="header"> <a href="#"><img src="images/Logo.svg" alt="errore"/></a>
    <nav> 
      <ul class="nav"> 
        <li class="nav-item"><a class="nav-link active" href="">Home </a></li>
        <li class="nav-item"><a class="nav-link" href="">Tv Shows</a></li>
        <li class="nav-item"><a class="nav-link" href="">Movies</a></li>
        <li class="nav-item"><a class="nav-link" href="">Series </a></li>
      </ul>
    </nav>
    <ul class="control"> 
      <li class="control-item"> 
        <button class="control-btn control-btn_search"></button>
      </li>
      <li class="control-item"> 
        <button class="control-btn control-btn_notice"></button>
      </li>
      <li class="control-item"> 
        <button class="control-btn control-btn_account"></button>
      </li>
    </ul>
  </div>
</header>