$white: white;
$black: black;
$bg-gradient: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $black;
    color: $white;
    font-size: 16px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 144rem;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.nav{
    display: flex;
    align-items: center;
    list-style: none;
    &-item{
        margin: 0 1.5rem;
    }

    &-link{
        text-decoration: none;
        font-weight: 700;
        color: rgb($white, 0.5);
        &::after{
            content: '';
            opacity: 0;
            display: block;
            height: 0.2rem;
            margin-top: 0.5rem;
            border-radius: 5rem;
            background: $bg-gradient;
        }
        &.active{
            color: tgb($white, 1);
            &::after{
                opacity: 1;
            }
        }
    }
}

.control{
    display: flex;
    align-items: center;
    list-style: none;
    &-btn{
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        border: none;

        &_search{
            background-image: url(images/lupa.svg);
            width: 1.8rem;
            height: 1.8rem;
        }

        &_notice{
            background-image: url(images/Kolokolchik.svg);
            width: 1.8rem;
            height: 1.8rem;
        }

        &_account{
            background-image: url(images/Akaynt.svg);
            width: 1.8rem;
            height: 1.8rem;
        }
    }
}